[defaults]
vault_password_file = ./vault_pass.txt
host_key_checking = False

# 禁用弃用警告（解决 Web 弹窗骚扰）
deprecation_warnings = False
# 设定默认超时时间（可选，建议增加）
timeout = 10
[ssh_connection]
# 强制指定算法
#ssh_args = -o KexAlgorithms=diffie-hellman-group1-sha1,diffie-hellman-group-exchange-sha1 -o HostKeyAlgorithms=ssh-rsa -o Ciphers=aes128-cbc,3des-cbc -o MACs=hmac-sha1
# 强制 SSH 客户端不检查指纹，并把指纹存入“黑洞” (/dev/null)
# 这样即便设备指纹变了，Ansible 也会直接跳过验证
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o KexAlgorithms=diffie-hellman-group1-sha1,diffie-hellman-group-exchange-sha1 -o HostKeyAlgorithms=ssh-rsa -o Ciphers=aes128-cbc,3des-cbc -o MACs=hmac-sha1